*,
*:before,
*:after {
  box-sizing: border-box;
  xoutline: 1px solid red;
}

html {
  min-height: 100%;
  background-color: #f8f8f8;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #333;
  padding: 10px 20px;
  background-color: #f8f8f8;
  min-height: 100%;
}

#container {
  max-width: 900px;
  margin: 0 auto;
  border: 1px #eee solid;
}

a img {
  border: none;
}
.grey {
  color: #aaa;
}

.grey a {
  color: #aaa !important;
}
.profile-img {
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  background: #ddd;
  width: 48px;
  height: 48px;
}

#loader {
  width: 32px;
  height: 32px;
  border: none;
  vertical-align: text-bottom;
  margin-left: 10px;
}
.big-text {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  text-shadow: white 0 1px 0;
  display: inline;
}
.dark-text {
  color: #333;
}
.light-text {
  color: #aaa;
  margin-left: 10px;
}

#user-status {
  display: inline-block;
  font-size: 24px;
  color: #333;
  visibility: hidden;
}

#results {
  font-size: 14px;
}

#results a,
#footer a {
  color: #2d76b9;
  text-decoration: none;
}

#footer {
  padding: 6px 0 40px 0;
}
.intro {
  font-size: 20px;
}

input[type='text'] {
  border: solid 1px #ccc;
  float: left;
  margin-right: 10px;
  font-size: 20px;
  display: block;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  height: 42px;
  width: 300px;
  margin-top: 10px;
}

.view-button {
  background: #1c98de;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  min-width: 80px;
  user-select: none;
  margin-top: 10px;
  margin-right: 10px;
}

.view-button a:visited {
  color: #fff;
}

.view-button a {
  text-decoration: none;
  padding-left: 10px;
  color: #fff;
}

.view-button:focus {
  outline: 0;
  background: #0c7dbd;
}

.view-button:hover {
  background: #0c7dbd;
}

#connect-btn:before {
  content: '';
  display: inline-block;
  position: relative;
  background-image: url('../img/twitter-logo.svg');
  width: 26px;
  height: 26px;
  top: 8px;
  left: 0px;
}

#twitter-buttons {
  vertical-align: top;
  height: 32px;
  width: 260px;
}
#copy {
  font-size: 15px;
}
.aside {
  color: #999;
  font-size: 13px;
}
#change-user-btn {
  font-size: 16px;
  color: #2d76b9;
}

#user-profile {
  display: none;
}

.sml {
  font-size: 14px;
}

#checkboxes {
  padding: 10px 0;
}

ul {
  padding: 20px;
}

#view-menu {
  display: none;
}

#widget-outer {
  margin-top: 20px;
  height: 30px;
}

.user-item {
  list-style: none;
  line-height: 24px;
  min-height: 24px;
  vertical-align: middle;
  margin-bottom: 6px;
  font-size: 14px;
}

.user-item img {
  display: inline-block;
  position: relative;
  height: 14px;
  top: 2px;
}

#user-detail img {
  display: inline-block;
  position: relative;
  height: 16px;
  top: 2px;
}

.profile-img-sml {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: #ddd;
  width: 24px;
  height: 24px;
  background-size: 100%;
}

#user-detail {
  color: #888;
}

#amt-logo {
  height: 52px;
  width: 327px;
}
